.margin-top-10 {
	margin-top: 10px !important;
}

.display-none {
	display: none;
}

.position-relative {
	position: relative !important;
}

.position-absolute {
	position: absolute !important;
}

.top-5 {
	top: 5px !important;
}

.right-5 {
	right: 5px !important;
}