@import url(http://fonts.googleapis.com/css?family=Khand);
@import url(http://fonts.googleapis.com/css?family=Patrick+Hand+SC);


.margin-top-10 {
	margin-top: 10px !important;
}

.display-none {
	display: none;
}

.position-relative {
	position: relative !important;
}

.position-absolute {
	position: absolute !important;
}

.top-5 {
	top: 5px !important;
}

.right-5 {
	right: 5px !important;
}

body {
	background: #fff url('../fimages/20.jpg') repeat right top;
	font-family: 'Khand', sans-serif;
}

.container {
	background: #fff;
	padding: 50px;
	margin: 20px auto;
	border-radius: 10px;
	opacity: 0.8;
}

.row {
	opacity: 1 !important;
}

.brand {
	color: #F24535;
	font-family: 'Patrick Hand SC', cursive;
}

#name {
	color: #F24535;
}

h1, h2 {
	color: #F2884B;
}

.nav {
	font-size: 20px;
}

input[type=text], input[type=email], input[type=password], textarea {
	color: #F24535 !important;
}